/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


* {
    -webkit-font-smoothing: antialiased;
    padding-top: 0;
    margin-top: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

html {
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    background: #111;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #e1e1e5;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
a{
    color: inherit;
}
.credits{
    position: absolute;
    bottom: 0px;
    z-index: 30;
    left: 20px;
}
body{
    cursor: auto;
    overflow: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*remove Chrome styling*/
button {
    outline: none;
} 

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#dummy {
    margin: 100px;
}

#snap {
    position: absolute;
    left: 0;
}


div.name{
    background-color: #1a1a1a;
    /*position: absolute;*/
    padding: 0.6rem 0.9rem;
    line-height: 1.3rem;
    border-radius: 5px;
    border: solid 0.5px #000;
    box-shadow: 0px 0px 15px #000;
    /*top: 1rem;*/
    /*left: 1rem;*/
    z-index: 10;
    color: #aaaaaf;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    display: none;
    opacity: 0.9;
}

h1{
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 80px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
#info{
    box-shadow: none;
    font-size: 12px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 10;
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    
}

button:hover{
    background: #cfcfdf/*rgba(40,40,46,0.5)*/;
    color: #111;
}

button{
    border-radius: 2px;
    display: block;
    margin: 0 auto !important;
    padding: 0;
    width: 30px;
    height: 30px;
    color: #9f9faf;
    border: solid 1px #313136;
    background: none;
    transition: all 0.2s;
}

#information h2{
    font-size: 18px;
    max-width: 280px;
    font-weight: 500;
}

#information h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 24px;
    display: block;

}

#information p{
    color: #aaaaaf;
    max-width: 280px;
}

#information p b{
    text-transform: uppercase;
    font-weight: 500;
}
/*#InteractionPopUp p:last-child{
    padding-bottom: 0px;
}*/
#information{
    position: absolute;
    background-color: rgba(20,20,20,0.99);
    box-shadow: 0px 0px 65px #000;
    width: 350px;
    padding: 24px;
    padding-top: 19px;
    bottom:0;
    z-index: 100;
    overflow: auto;
    top:0;
    left: 0;
    transition: left .4s ease;
    border-right: solid 0.5px #000;
}

#information .close{
    position: absolute;
    border-radius: 2px;
    right: 24px;
    cursor: pointer;
    top: 24px;
    display: block;
    margin: 0 auto !important;
    width: 30px;
    height: 30px;
    color: #9f9faf;
    border: solid 1px #313136;
    background: none;
    transition: all 0.2s;
}



#information .close svg.arrow{
    padding-top: 7px;
    padding-left: 8px;
}

button svg.arrow{
    padding-left: 2px;
}

button:hover > svg.arrow path{
    stroke: #111;
    transition: all 0.2s;
}

svg.arrow path{
    transition: all 0.2s;
    stroke: #9f9faf;
}

#information .close:hover > svg.arrow path{
    stroke: #111;
    transition: all 0.2s;
}

#information .close:hover{
    background: #cfcfdf/*rgba(40,40,46,0.5)*/;
    color: #111;
}     
.manual{
    padding-top: 24px;
}

.manual p{
    padding-top: 14px;
    padding-bottom: 28px;
}

#information div{
    float: left;
}

#information div img{
    padding-top: 8px;
    height: 350px;
}

.hidden-information{
    left: -400px !important;
    box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    transition: left .4s ease, box-shadow .6s ease;
}

/*.invisible{
    opacity: 0;
}


.visible {
    opacity: 1;
}
*/







.CountryHover{
 fill: #9999bb;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}